@page "/todo"
@rendermode InteractiveServer

<h3>To Do Items: (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos) 
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input @bind="newTodo"/>
<button @onclick="AddTodo">Add To Do Item</button>

@code {
    private List<TodoItem> todos = new();
    string newTodo = "";

    void AddTodo() {
        if (!string.IsNullOrWhiteSpace(newTodo)) {
            todos.Add(new TodoItem {Title = newTodo});
            newTodo = string.Empty;
        }
    }
}